@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-1: 0 0% 100%;
    --background-2: 60 3% 80%;
    --background-3: 60 4% 95%;
    --background-4: 240 14% 96%;

    --foreground: 240 6% 13%;

    --primary: 218 7% 68%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 12% 93%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 31%;

    --border-1: 223 9% 85%;
    --border-2: 240 10% 92%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background-1: 0 0% 0%;
    --background-2: 60 3% 16%;
    --background-3: 60 4% 8%;
    --background-4: 60 4% 11%;

    --foreground: 240 6% 87%;

    --primary: 218 7% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 12% 13%;

    --muted: 210 40% 3.9%;
    --muted-foreground: 0 0% 69%;

    --border-1: 223 9% 20%;
    --border-2: 240 10% 17%;
    --input: 214.3 31.8% 8.6%;
    --ring: 222.2 84% 95.1%;
  }
}

@layer base {
  * {
    @apply border-border1;
  }
  body {
    @apply bg-background1 text-foreground;
  }
}
